<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Section Image Form</title>
    <link href="/styles/css/gallery/itemForm.style.css" rel="stylesheet" />
    <link href="/styles/bootstrap-5.3.1-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <form class="form-signin" action="#" th:action="@{/sectionImages/{id}/save(id=${sectionId})}"
          th:object="${sectionImage}" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <div class="col-xs-15">
                <div class="alert alert-danger col-xs-offset-1 col-xs-10" th:if="${#fields.hasAnyErrors() || imageErr != null}">
                    <ul>
                        <li th:each="err: ${#fields.allErrors()}" th:text="${err}"></li>
                        <li th:if="${imageErr != null}" th:text="${imageErr}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <h2 class="form-signin-heading text-center">Add Gallery Item</h2>
        <input type="hidden" th:field="*{id}" />

        <label for="image">Image</label>
        <input id="image" type="file" name="image" accept="image/*" class="form-control" />
        <ul>
            <li>Maximum file size: 5 MB</li>
        </ul>

        <div class="form-button gap-3 text-center">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-danger" th:href="@{/sectionImages/section/{id}/sectionImages(id=${sectionId})}">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>