.image-text {
    background: rgba(0, 0, 0, 50%);
    color: white;
    width: 50%;
}

.p-viewer {
    margin-right: 62rem;
    margin-top: -55px;
    float: right;
    position: relative;
    cursor: pointer;
}