<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>About Us</h1>
    <ul>
        <li>Agen Resmi dari Mitsubishi Electric, Anywire, Optex-FA, Palite, TMEIC, Bonfiglioli, SJ Products</li>
        <li>Control & Automations (Desain, Instalasi, Programming, Troubleshooting dsb)</li>
        <li>Penjualan dan Instalasi Panel Listrik, UPS dan Peralatan Listrik lainnya</li>
        <li>Gearbox</li>
        <li>Instalasi kelistrikan</li>
        <li>Sistem pengolahan air limbah, air kotor</li>
        <li>Pressure Vessel</li>
        <li>Module on skid (Kombinasi peralatan-peralatan yang terkoneksi dalam satu frame)</li>
    </ul>
</body>
</html>