<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="/styles/css/login.style.css" rel="stylesheet" />
    <link href="/styles/bootstrap-5.3.1-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <form class="form-signin" action="#" th:action="@{/processLogin}" method="POST">
        <!-- Place for messages: error, alert etc ... -->
        <div class="form-group">
            <div class="col-xs-15">
                <div>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                            Invalid username and password.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-15">
                <div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-success col-xs-offset-1 col-xs-10">
                            You have been logged out.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin-bottom: 10px;">
            <img src="/assets/images/PT.-Crescendo-Solusi-Tama-Logo-74x58.png" alt="crestama-logo">
        </div>
        <h2 class="form-signin-heading text-center">Login</h2>
        <input type="text" class="form-control" name="username" placeholder="Email Address" />
        <input type="password" class="form-control" name="password" placeholder="Password" />
        <div class="d-grid gap-2" style="margin-bottom: 10px;">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </div>
        <p>Don't have an account? Sign up <a th:href="@{/register}">here</a>.</p>
    </form>
</div>
</body>
</html>