<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="/styles/css/login.style.css" rel="stylesheet" />
    <link href="/styles/bootstrap-5.3.1-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <form class="form-signin" action="#" th:action="@{/register/processRegistrationForm}" th:object="${user}" method="POST">
        <!-- Place for messages: error, alert etc ... -->
        <div class="form-group">
            <div class="text-center" style="margin-bottom: 10px;">
                <img src="/assets/images/PT.-Crescendo-Solusi-Tama-Logo-74x58.png" alt="crestama-logo">
            </div>
            <h2 class="form-signin-heading text-center">Register</h2>
            <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name" />
            <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name" />
            <input type="text" class="form-control" th:field="*{email}" placeholder="Email Address" />
            <input type="password" class="form-control" th:field="*{password}" placeholder="Password" />
            <div class="d-grid gap-2" style="margin-bottom: 10px;">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </div>
            <p>Already have an account? Login <a th:href="@{/login}">here</a>.</p>
        </div>
    </form>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Registration Form</title>-->
<!--    <link rel="stylesheet" href="/styles/bootstrap-5.3.1-dist/css/bootstrap.css">-->
<!--</head>-->
<!--<body>-->
<!--<div id="loginbox" style="margin-top: 50px;" class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">-->
<!--    <div class="card border-info" style="margin-left: 25px;">-->
<!--        <div class="card-header bg-info">-->
<!--            Register-->
<!--        </div>-->

<!--        <div class="card-body">-->
<!--            <div class="card-text">-->
<!--                <form action="#" th:action="@{/register/processRegistrationForm}" th:object="${user}" method="POST" class="form-horizontal">-->
<!--                    <div class="container">-->
<!--                        <div style="margin-bottom: 25px" class="input-group">-->
<!--                            <input type="text" th:field="*{firstName}" placeholder="First Name (*)" class="form-control" />-->
<!--                        </div>-->
<!--                        <div style="margin-bottom: 25px" class="input-group">-->
<!--                            <input type="text" th:field="*{lastName}" placeholder="Last Name (*)" class="form-control" />-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Email &ndash;&gt;-->
<!--                        <div style="margin-bottom: 25px" class="input-group">-->
<!--                            <input type="text" th:field="*{email}" placeholder="Email Address (*)" class="form-control" />-->
<!--                        </div>-->
<!--                        <div style="margin-bottom: 25px" class="input-group">-->
<!--                            <input type="password" th:field="*{password}" placeholder="Password (*)" class="form-control" />-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Registration Button &ndash;&gt;-->
<!--                        <div style="margin-top: 10px" class="form-group">-->
<!--                            <div class="col-sm-6 controls">-->
<!--                                <button type="submit" class="btn btn-primary">Register</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->